@import 'tippy.js/dist/tippy.css';
@import 'tippy-themes.css';

@import "fork-awesome/css/fork-awesome.min.css";

@import 'icons.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

*[class^="hl-"], *[class*=" hl-"] {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-stack .header {
    user-select: none;
}
.grid-stack .header.active {
    background: oklch(var(--p));
}

.grid-stack-placeholder .placeholder-content {
    background: oklch(var(--su));
}

.grid-stack-item > .ui-resizable-ne, .grid-stack-item > .ui-resizable-nw, .grid-stack-item > .ui-resizable-se, .grid-stack-item > .ui-resizable-sw
{
    background: initial;
}

.grid-stack-item > .ui-resizable-se:hover {
    background: oklch(var(--p));
}

.grid-stack-item > .ui-resizable-se {
    background: var(--fallback-b3,oklch(var(--a)/0.8));
    transform: none;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
}
